//primary color
$darkblue1: hsl(217, 28%, 15%);
$darkblue2: hsl(218, 28%, 13%);
$darkblue3: hsl(216, 53%, 9%);
$darkblue4: hsl(219, 30%, 18%);
$white: hsl(0, 0%, 100%);

//cta color
$cyan: hsl(176, 68%, 64%);
$darkcyan: hsl(198, 60%, 50%);
$lightred: hsl(0, 100%, 63%);

//font size
$font-med: 1.125rem;
$font-small: 0.825rem;
$font-mediumlarge: 1.25rem;
$font-xlarge: 2rem;
